<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&family=Rajdhani:wght@300&family=Space+Grotesk:wght@300..700&family=Whisper&display=swap" rel="stylesheet">
    <title>Welcome</title>
</head>
<body class="index">
    <div class="main">
        <div class="vertical">
            <p class="heading">Savory Haven</p>
            <p class="description">Welcome to Savory Haven, where every dish tells a story and every meal is a celebration of flavors. Nestled in the heart of City, our cafe is a cozy retreat for food lovers seeking comfort and culinary excellence. Forget about the daily stress and come relax with us. After tasting any of our menu items, you will never want to leave!</p>
            <div class="horizontal">
                <form action="/register" method="get">
                    <input type="submit" value="Register" class="submit">
                </form>
                <p>OR</p>
                <form action="/login" method="get">
                    <input type="submit" value="Login" class="submit">
                </form>
            </div>
        </div>
    </div>
</body>
</html>