<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&family=Rajdhani:wght@300&family=Space+Grotesk:wght@300..700&family=Whisper&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>Register</title>
</head>
<body>
    <div class="shadow">
        <p class="heading2">Register</p>
        <form action="/register" method="POST">
              <label for="email">Email</label>
              <input type="email" class="user" name="username">
              <label for="password">Password</label>
              <input type="password" class="user" name="password">
            <button type="submit" class="submit">Register</button>
          </form>
    </div>
    
</body>
</html>